/* general settings for section & subheader */
section,#subheader{
-webkit-background-size: 100%;
-moz-background-size: 100%;
-o-background-size: 100%;
background-size: 100%;
}

/* background settings for section */
#section-fun-facts {background:url(../images/background/1.jpg) fixed;}
#section-schedules {background:url(../images/background/2.jpg) fixed;}
#section-register {background:url(../images/background/3.jpg) fixed;}
#section-sponsors {background:url(../images/background/4.jpg) fixed;}

/* media query */
@media only screen and (max-width: 1199px) { 
	section{
	-webkit-background-size: auto 100% !important;
	-moz-background-size: auto 100% !important;
	-o-background-size: auto 100% !important;
	background-size: auto 100% !important;
	background-attachment:scroll !important;
	background-position:top !important;
	}
}